@using Library0.Controllers
@model Library0.Models.AccountRoomModel
@{
    ViewBag.Title = "Manage Account";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>


@(ViewBag.IsLibrarian ? Html.Partial("Librarian/_LibrarianAccountPartial") : Html.Partial("Reader/_ReaderAccountPartial"))


@section Scripts {

    
    @(ViewBag.IsLibrarian ? @Scripts.Render("~/bundles/LibrarianViewModels") : @Scripts.Render("~/bundles/ReaderViewModels"))
    <script> 
        @if (ViewBag.IsLibrarian)
        {
            <text>$(document).ready(function () {
            ko.applyBindings(new BooksViewModel(), document.getElementById("books-crud"));
            ko.applyBindings(new UsersViewModel(), document.getElementById("users-crud"));
            });</text>
        }
    </script>
    
    

}

@section Styles
{
    @Styles.Render("~/Content/themes/base/css")
}
